<ng-container *ngIf="weatherModel">
  <div
    *ngIf="weatherModel?.currentTemperature as temperature"
    class="wrapper"
  >
    Temperatura:
    <span>
      {{ temperature?.value }}
    </span>

    <span>
      {{temperature?.icon }}
    </span>
  </div>

  <div
    *ngIf="weatherModel?.oneHourTemperature as temperature"
    class="wrapper"
  >
    Temperatura za godzinę:
    <span>
      {{ temperature?.value }}
    </span>

    <span>
      {{temperature?.icon }}
    </span>
  </div>

  <div
    *ngIf="weatherModel?.twelveHoursTemperature as temperature"
    class="wrapper"
  >
    Temperatura za 12 godzin:
    <span>
      {{ temperature?.value }}
    </span>

    <span>
      {{temperature?.icon }}
    </span>
  </div>

  <div
    *ngIf="weatherModel?.oneDayTemperature as temperature"
    class="wrapper"
  >
    <div>
      Minimalna temperatura jutro:
      <span>
        {{ temperature?.minimum?.value }}
      </span>

      <span>
        {{temperature?.minimum?.icon }}
      </span>
    </div>

    <div>
      Maksymalna temperatura jutro:
      <span>
        {{ temperature?.maximum?.value }}
      </span>

      <span>
        {{temperature?.maximum?.icon }}
      </span>
    </div>
  </div>

  <div
    *ngIf="weatherModel?.fiveDayTemperature as temperature"
    class="wrapper"
  >
    <div>
      Minimalna temperatura za 5 dni:
      <span>
        {{ temperature?.minimum?.value }}
      </span>

      <span>
        {{temperature?.minimum?.icon }}
      </span>
    </div>

    <div>
      Maksymalna temperatura za 5 dni:
      <span>
        {{ temperature?.maximum?.value }}
      </span>

      <span>
        {{temperature?.maximum?.icon }}
      </span>
    </div>
  </div>


  <div
    *ngIf="weatherModel?.yesterdayTemperature as temperature"
    class="wrapper"
  >
    Temperatura wczoraj:
    <span>
      {{ temperature?.value }}
    </span>

    <span>
      {{temperature?.icon }}
    </span>
  </div>
</ng-container>