<ng-container *ngIf="mainViewModel.bookViewModel?.books | async as booksResposne">

  <button
    mat-button
    (click)="mainViewModel.openBookFormDialog(null)"
  >
    <span class="button__content">
      <mat-icon>add</mat-icon>
      Dodaj nową książke
    </span>
  </button>
  <ng-container *ngIf="booksResposne?.data?.data?.length >0 && booksResposne?.isSuccess;else error">

    <mat-card
      *ngFor="let book of booksResposne?.data?.data"
      class="card"
    >
      <mat-card-header>
        <mat-card-title>{{ book?.title }}</mat-card-title>
        <mat-card-subtitle>{{ book?.author?.firstName + ' ' + book?.author?.lastName }}</mat-card-subtitle>
      </mat-card-header>

      <div class="card__content">

        <span class="card__content__price">
          {{ book?.price | price }} zł
        </span> za {{ book?.pageCount }} stron
      </div>

      <mat-card-actions align="end">
        <span class="buttons">
          <button
            mat-stroked-button
            color="primary"
            (click)="mainViewModel.openBookFormDialog(book)"
          >
            <span class="button__content">
              <mat-icon>edit</mat-icon>
              Edit
            </span>
          </button>
          <button
            mat-stroked-button
            (click)="mainViewModel.deleteBook(book)"
          >
            <span class="button__content">
              <mat-icon>delete</mat-icon>
              Delete
            </span>
          </button>
        </span>
      </mat-card-actions>
    </mat-card>

    <div class="pagination">
      <button
        mat-icon-button
        [disabled]="mainViewModel?.pagination?.page < 1"
        (click)="mainViewModel.previousPage()"
      >
        <mat-icon>
          chevron_left
        </mat-icon>
      </button>

      {{ mainViewModel?.pagination?.page + 1 }}

      <button
        mat-icon-button
        [disabled]="mainViewModel?.pagination?.page >= booksResposne?.data?.pageCount-1"
        (click)="mainViewModel.nextPage()"
      >
        <mat-icon>
          chevron_right
        </mat-icon>
      </button>

    </div>

  </ng-container>

  <ng-template #error>
    <p>
      Nieoczekiwany błąd serwera
    </p>
  </ng-template>

</ng-container>