<ng-container *ngIf="books$ | async as books;else loading">

  <ng-container *ngIf="books?.pageCount >=0;else error">
    <button
      mat-button
      (click)="openBookFormDialog(null)"
    >
      <span class="button__content">
        <mat-icon>add</mat-icon>
        Dodaj nową książke
      </span>
    </button>

    <ds-books-item
      *ngFor="let book of books?.data"
      [book]="book"
      (deleteBook)="deleteBook($event)"
      (editBook)="openBookFormDialog($event)"
    />

    <ds-pagination
      [pagination]="pagination$ | async"
      [maxPageCount]="books?.pageCount"
      (previousPage)="previousPage()"
      (nextPage)="nextPage()"
    />

  </ng-container>


  <ng-template #error>
    <p>
      Nieoczekiwany błąd serwera
    </p>
  </ng-template>
</ng-container>

<ng-template #loading>
  <mat-spinner />
</ng-template>